[submodule "AV-Solutions/uniad_tensorrt/inference_app/dependencies/stb"]
	path = AV-Solutions/uniad_tensorrt/inference_app/dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "AV-Solutions/uniad_tensorrt/UniAD"]
	path = AV-Solutions/uniad_tensorrt/UniAD
	url = https://github.com/OpenDriveLab/UniAD.git
[submodule "AV-Solutions/uniad_tensorrt/dependencies/BEVFormer_tensorrt"]
	path = AV-Solutions/uniad_tensorrt/dependencies/BEVFormer_tensorrt
	url = https://github.com/DerryHub/BEVFormer_tensorrt.git
[submodule "AV-Solutions/uniad_tensorrt/dependencies/nuscenes-devkit"]
	path = AV-Solutions/uniad_tensorrt/dependencies/nuscenes-devkit
	url = https://github.com/nutonomy/nuscenes-devkit.git
